body {
  width: 100%;
  height: 100%;
  background-image: url(woodPanel.png);
}

a {
  color: white;
  text-decoration: none; 
}

.navigationContents {
  color: white;
  list-style-type: none;
  display: block;
  overflow: hidden;
  background-color: rgba(45, 43, 43, 0.8);
}

.navigationContents li {
  float: right;
  text-align: center;
  padding: 12.5px 10px 12.5px 10px;
}

.navigationContents li:first-child {
  float:left;
}
